<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body class="page-body">
  <section class="section-header">
    <div class="line-div">
    </div>
    <div class="grid-container-widget-section-header">
      <div class="widget-column-name-user-faLaptopCode">
        <a class="icon-name-user-header" href="academicCareer">
          <h1 class="name-user-text"><fa-icon class="faLaptopCode" [icon]="faLaptopCode"> </fa-icon>ACADEMIC CAREER</h1>
        </a>
      </div>
      <div class="widget-menu-dropdown-toggle">
        <div class="menu-main-active">
          <nav class="nav-menu-main">
              <li class="menu-main-item">
                <a href="home" class="item-active-menu-main">HOME</a>
              </li>
              <li class="menu-main-item">
                <a href="#sections-portfolio-presentation" class="item-active-menu-main"
                  (click)="scrollToSection($event, 'sections-portfolio-presentation')">PORTFÓLIO</a>
              </li>
              <li class="menu-main-item">
                <a href="#section-about-me" class="item-active-menu-main"
                  (click)="scrollToSection($event, 'section-about-me')">ABOUT ME</a>
              </li>
              <li class="menu-main-item">
                <a href="#sections-contacts-presentation" class="item-active-menu-main"
                  (click)="scrollToSection($event, 'sections-contacts-presentation')">CONTACTS</a>
              </li>
              <li class="menu-main-item-projects">
                <ng-container *ngFor="let menuItem of ModulesListProjects">
                  <ng-container *ngIf="!menuItem.children">
                    <a>
                      <span>{{menuItem.label}}</span>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="menuItem.children.length > 0">
                    <button class="item-active-menu-main" #button mat-button [matMenuTriggerFor]="levelOne"
                      #levelOneTrigger="matMenuTrigger">
                      <span>{{menuItem.label}}
                        <fa-icon [icon]="faChevronDown"></fa-icon>
                      </span>
                    </button>
                    <mat-menu class="mat-menu-main" #levelOne="matMenu" direction="down" yPosition="below">
                      <ng-container *ngFor="let childL1 of menuItem.children">
                        <div class="background-list-modal" *ngIf="!childL1.children" mat-menu-item>
                          <a class="text-link-label-menu-main" *ngIf="!childL1.url">{{childL1.label}}
                            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                          </a>
                          <a class="link-url" *ngIf="childL1.url" [href]="childL1.url">{{childL1.label}}
                            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                          </a>
                        </div>
                      </ng-container>
                    </mat-menu>
                  </ng-container>
                </ng-container>
              </li>
              <li class="menu-main-item-careers">
                <ng-container *ngFor="let menuItem of ModulesListCareer">
                  <ng-container *ngIf="!menuItem.children">
                    <a>
                      <span>{{menuItem.label}}</span>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="menuItem.children.length > 0">
                    <button class="item-active-menu-main" #button mat-button [matMenuTriggerFor]="levelOne"
                      #levelOneTrigger="matMenuTrigger">
                      <span>{{menuItem.label}}
                        <fa-icon [icon]="faChevronDown"></fa-icon>
                      </span>
                    </button>
                    <mat-menu class="mat-menu-main" #levelOne="matMenu" direction="down" yPosition="below">
                      <ng-container *ngFor="let childL1 of menuItem.children">
                        <li class="background-list-modal" *ngIf="!childL1.children" mat-menu-item>
                          <a class="text-link-label-menu-main" *ngIf="!childL1.url">{{childL1.label}}
                            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                          </a>
                          <a class="link-url" *ngIf="childL1.url" [href]="childL1.url">{{childL1.label}}
                            <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                          </a>
                        </li>
                      </ng-container>
                    </mat-menu>
                  </ng-container>
                </ng-container>
              </li>
          </nav>
        </div>
        <div class="menu-toggle-mobile-active" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="true">
            <button class="bnt-menu-mobile" id="bnt-menu-mobile" #button mat-button (click)="btnMobile($event)">
              <fa-icon id="faBars" aria-hidden="false" role="presentation" [icon]="faBars"></fa-icon>
              <fa-icon id="faXmark" aria-hidden="false" [icon]="faXmark"></fa-icon>
            </button>
        </div>
      </div>
    </div>
    <div class="line-div">
    </div>
    <div class="menu-mobile">
      <nav id="nav-menu-mobile">
          <li class="menu-mobile-item">
            <a  href="home" class="item-active-menu-mobile">HOME</a>
          </li>
          <li class="menu-mobile-item">
            <a href="#sections-portfolio-presentation" class="item-active-menu-mobile"
              (click)="scrollToSection($event, 'sections-portfolio-presentation')">PORTFÓLIO</a>
          </li>
          <li class="menu-mobile-item">
            <a href="#section-about-me" class="item-active-menu-mobile"
              (click)="scrollToSection($event, 'section-about-me')">ABOUT ME</a>
          </li>
          <li class="menu-mobile-item">
            <a href="#sections-contacts-presentation" class="item-active-menu-mobile"
              (click)="scrollToSection($event, 'sections-contacts-presentation')">CONTACTS</a>
          </li>
          <li class="menu-mobile-item-projects">
            <ng-container *ngFor="let menuItem of ModulesListProjects">
              <ng-container *ngIf="!menuItem.children">
                <a>
                  <span class="">{{menuItem.label}}</span>
                </a>
              </ng-container>
              <ng-container *ngIf="menuItem.children.length > 0">
                <button class="item-active-menu-mobile" #button mat-button [matMenuTriggerFor]="levelOne"
                  #levelOneTrigger="matMenuTrigger">
                  <span>{{menuItem.label}}
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                  </span>
                </button>
                <mat-menu class="mat-mobile-menu" #levelOne="matMenu" direction="down" yPosition="below">
                  <div class="menu-itens-faXmark">
                    <fa-icon style="color: rgb(255, 255, 255);width: 20px; height: 20px;" aria-hidden="false"
                      [icon]="faXmark"></fa-icon>
                  </div>
                  <ng-container *ngFor="let childL1 of menuItem.children">
                    <div class="background-list-modal" *ngIf="!childL1.children" mat-menu-item>

                      <a class="text-link-label-menu-mobile" *ngIf="!childL1.url">{{childL1.label}}
                        <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                      </a>
                      <a class="link-url" *ngIf="childL1.url" [href]="childL1.url">{{childL1.label}}
                        <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                      </a>
                    </div>
                  </ng-container>
                </mat-menu>
              </ng-container>
            </ng-container>
          </li>
          <li class="menu-mobile-item-careers">
            <ng-container *ngFor="let menuItem of ModulesListCareer">
              <ng-container *ngIf="!menuItem.children">
                <a class="">
                  <span class="text-holder">{{menuItem.label}}</span>
                </a>
              </ng-container>
              <ng-container *ngIf="menuItem.children.length > 0">
                <button class="item-active-menu-mobile" #button mat-button [matMenuTriggerFor]="levelOne"
                  #levelOneTrigger="matMenuTrigger">
                  <span>{{menuItem.label}}
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                  </span>
                </button>
                <mat-menu class="mat-mobile-menu" #levelOne="matMenu" direction="down" yPosition="below">
                  <div class="menu-itens-faXmark">
                    <fa-icon style="color: rgb(255, 255, 255);width: 20px; height: 20px;" aria-hidden="false"
                      [icon]="faXmark"></fa-icon>
                  </div>
                  <ng-container *ngFor="let childL1 of menuItem.children">
                    <li class="background-list-modal" *ngIf="!childL1.children" mat-menu-item>
                      <a class="text-link-label-menu-mobile" *ngIf="!childL1.url">{{childL1.label}}
                        <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                      </a>
                      <a class="link-url" *ngIf="childL1.url" [href]="childL1.url">{{childL1.label}}
                        <i *ngIf="childL1.icon" [ngClass]="childL1.icon"></i>
                      </a>
                    </li>
                  </ng-container>
                </mat-menu>
              </ng-container>
            </ng-container>
          </li>
      </nav>
    </div>
  </section>
  <section class="section-background-presentation-academic">
    <div class="background-img-presentation-container">
      <img class="background-img" src="../../../../assets/workspace-gdec190e22_1280.jpg">>
    </div>
    <div class="container-academic-presentation-initial">
      <div class="column-text-academic-presentation-initial">
        <div class="container-academic-text-presentation-initial">
            <div class="academic-text-presentation-initial">
              <h1 class="academic-text-presentation-initial-title">"Hello, welcome to my page about my academic career!</h1>
            </div>
        </div>
        <div class="container-goal-academic-text-presentation-initial">
            <div class="academic-background-text-presentation"  >
            </div>
            <div class="academic-background-text-presentation-guys-mask">
              <div class="column-text-presentation-initial">
                  <p class="text-presentation-initial-introduction">I am passionate about seeking knowledge and I am a firm believer in the power of continuous learning for professional development. On this page, I share my study journey andlist of technologies​ ​that I have already explored, with the aim of helping and inspiring those who are starting or have difficulties in starting their studies.</p>
                  <p class="text-presentation-initial-introduction">For me, learning is a fascinating and exciting journey. I am always looking for new learning opportunities and enjoy sharing my ideas and experiences with others. I believe that sharing knowledge is a two-way street, as we both learn from others and contribute to collective growth.</p>
                  <p class="text-presentation-initial-introduction">I created this section of my portfolio especially for those who want to start their studies in specific areas, but don't know where to start. Here, I made available some repositories that I developed, covering different topics and programming languages. These repositories serve as a starting point for you to explore and delve into different areas of interest.</p>
                  <p class="text-presentation-initial-introduction">I believe that learning together is even more enriching. I love interacting with other people, exchanging ideas, sharing resources and learning from each other. If you're looking for a collaborative learning community, you've come to the right place! Feel free to explore my studies, share your ideas and contribute your knowledge.</p>
                  <p class="text-presentation-initial-introduction">My goal is to provide a welcoming and inspiring environment for those embarking on their learning journeys. If you have any questions, need guidance or suggestions on how to start your studies in a particular field, please don't hesitate to contact me. I'm here to help and offer my support.</p>
                  <p class="text-presentation-initial-introduction">Join me in this relentless quest for knowledge, discoveries and mutual growth. Let's learn together and make a positive impact on the developer community.</p>
                  <p class="text-presentation-initial-introduction">Thank you for visiting my page and I hope you find inspiration and helpful resources to jumpstart your learning journey!"</p>
              </div>
           </div>
         </div>
      </div>
      <div class="column-social">
        <div class="column-social-widget-wrap-social">
          <div class="background-overlay-social"></div>
          <div class="widget-container-column-social-icons">
            <span class="grid-item-social">
              <div class="container-social-icons">
                <div class="social-icons">
                  <a href="https://github.com/edsonrdl">
                    <svg viewBox="0 0 16 16" class="brands bi-github" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                      </path>
                    </svg>
                  </a>
                </div>
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/edson-rodrigo-62b016263/">
                    <svg class="brands fa-linkedin-in"  xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512">
                      <path
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                      </path>
                    </svg>
                  </a>
                </div>
                <div class="social-icons">
                  <a href="https://www.instagram.com/_edsonrdl1/">
                    <svg class="brands fa-instagram"  xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512">
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </span>
          </div>
          <div class="line-div">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sections-list-of-studies-presentation" id="sections-list-of-studies-presentation">
    <div class="line-div">
    </div>
    <div class="list-of-studies-presentation">
      <div class="texto-list-of-studies-presentation" >list of studies</div>
    </div>
    <div class="line-div">
    </div>
  </section>
  <div class="line-div" >
  </div>
  <section class="section-portfolio-collection-cards-1">
 
  </section>
  <div class="line-div">
  </div>

</body>
</html>
