*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif, ;
}
html{
  font-size: 62.5%;
}
/* body */
.page-body {
  width: 100%;
  background-color: #ffffff;
}
/* section-header */
.line-div {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(315deg, #03a9f4, #ff0058 100%);
}
.section-header {
  position: fixed;
  width: 100vw;
  height: 7vh;
  min-height: auto;
  max-height:  auto;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  background-color: #131313;
  opacity: 98%;
  z-index:100;
}
.grid-container-widget-section-header{
  position: relative;
  display: grid;
  grid-template-areas: "widget-column-name-user-faLaptopCode widget-menu-dropdown-toggle";
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 7vh;
  margin: 0px;
  padding: 5px;
}
@media (max-width: 1024px) {
  .grid-container-widget-section-header {
    display: grid;
    grid-template-areas:  "widget-menu-dropdown-toggle widget-column-name-user-faLaptopCode" !important;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    place-content: stretch space-around;
    align-items: stretch;
  }
}
.widget-column-name-user-faLaptopCode{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width:100%;
  height: 100%;
  grid-area:widget-column-name-user-faLaptopCode;
}
.icon-name-user-header{
  display: flex;
  text-decoration: none;
}
.name-user-text{
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
  font-size: 1.5rem;
  color: #ffffff;
}
@media (max-width:600px){
  .name-user-text{
    font-size: 1.2rem;
  }
}
.name-user-text:hover{
  font-size: 1.6rem;
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  background-clip: text;
  color: transparent;
  transition: all .2s;
}
/* menu-main-active*/
.widget-menu-dropdown-toggle{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area:widget-menu-dropdown-toggle;
}
.menu-main-active{
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (max-width:  1024px) {
  .menu-main-active{
    display: none !important;
    overflow: hidden !important;
  }
}
.nav-menu-main{
  position: relative;
  display: flex;
  width: 100%;
  margin: 0px;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  height: 100%;
}
@media (max-width:  1024px) {
  .nav-menu-main {
    display: none;
    overflow: hidden;
  }
}
.menu-main-item{
  display: flex;
  position: relative;
  font-family: "Montserrat", Sans-serif;
  width: 80%;
  height: 100%;
  padding: 0px;
  flex-direction: row;
}
.item-active-menu-main{
  color: #DBD8E3;
  font-family: "Montserrat", Sans-serif;
  margin: auto;
  height: auto;
  text-decoration: none;
  border: 20px;
  font-size: 0.9rem;
  z-index: 5;
}
.item-active-menu-main:hover{
  font-size: 1rem;
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .3s;
  font-family: 'Montserrat', Sans-serif;
  z-index: 5;
}
.menu-main-item-projects{
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 5;
}
.menu-main-item-careers{
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 5;
}
::ng-deep .mat-menu-main {
  background-image: linear-gradient(to bottom, #000000, #171717);
}
.text-link-label-menu-main {
  color: #ffffff;
  font-size: 0.9rem;
}
.text-link-label-menu-main:hover {
  font-size: 1rem;
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .3s;
}
.link-url {
  color: #ffffff;
  text-decoration: none;
}
.link-url:hover {
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .3s;
  text-decoration: none;
}
/*menu-toggle-mobile-active*/
.menu-toggle-mobile-active {
  color: #ffffff;
  margin-left: 0;
  background-color: #02010100;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.25em;
  cursor: pointer;
  border: 0 solid;
  grid-area:menu-toggle-mobile-active;
}
@media (min-width:  1025px) {
  .menu-toggle-mobile-active {
    display: none;
    overflow: hidden;
  }
}
/* Mobile-Menu */
.menu-mobile{
  width: 40%;
  height: 1px;
  transition: 0.3s;
}
.bnt-menu-mobile{
  overflow: hidden;
  font-family: "Montserrat", Sans-serif;
  margin: auto;
  height: auto;
  cursor: pointer;
  z-index: 5;
}
@media (min-width: 1025px) {
  .bnt-menu-mobile{
   display: none;
   overflow: hidden;
  }
}
.bnt-menu-mobile:hover{
  font-size: 22px;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-family: 'Montserrat', Sans-serif;
  z-index: 5;
}
#faBars{
  color: white;
}
#nav-menu-mobile{
  display: block;
  overflow: hidden;
  height: 0px;
  width:0px;
  transition: .1s;
  visibility: hidden;
  overflow-y:hidden ;
  overflow-x:hidden ;
}
#faXmark{
  display: none;
  overflow: hidden;
  transition: .5s;
}
.faXmark-active{
  display: block !important;
  position: initial !important;
  overflow: visible;
  color: rgb(255, 255, 255);
  visibility: visible !important;
  z-index: 6;
}
.faBars-disabled{
  display: none!important;
  overflow: hidden;
  transition: .2s;
  visibility: hidden !important;
  overflow-y:hidden !important ;
  overflow-x:hidden !important ;
  z-index: 4;
}
.nav-menu-mobile-active{
  display: flex !important;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #000000, #171717);
  position: absolute;
  top: 55px;
  height:calc(100vh - 53px)!important;
  visibility: visible !important;
  overflow-y: auto;
  overflow-x: auto;
  width:30%!important;
  z-index: 100;
}
.menu-mobile-item{
  display: flex;
  position: relative;
  font-family: "Montserrat", Sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item-active-menu-mobile{
  color: #DBD8E3;
  font-family: "Montserrat", Sans-serif;
  text-decoration: none;
  border: 0px;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 1.3rem;
  font-weight: 1000;
  font-weight: bold;
  z-index: 4;
}
@media (max-width:500px){
  .item-active-menu-mobile{
    font-size: 1rem;
  }
}
@media (max-width:400px){
  .item-active-menu-mobile{
    font-size: 0.7rem;
  }
}
.item-active-menu-mobile:hover{
  font-size: 1.5rem;
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .3s;
  font-family: 'Montserrat', Sans-serif;
  z-index: 100;
}
@media (max-width:500px){
  .item-active-menu-mobile:hover{
    font-size: 1.1rem;
  }
}
@media (max-width:400px){
  .item-active-menu-mobile:hover{
    font-size: 0.8rem;
  }
}
.menu-mobile-item-projects{
  position: relative;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
}
.menu-mobile-item-careers{
  position: relative;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
}
.text-link-label-menu-mobile {
  color: #ffffff;
  font-size: 1.3rem;
}
.text-link-label-menu-mobile:hover {
  font-size: 1.5rem;
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all .3s;
}
.menu-itens-faXmark{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px 25px 0px 0px
}
::ng-deep .mat-mobile-menu {
  background-image: linear-gradient(to bottom, #000000, #171717);
  top: 8vh;
}
::ng-deep .mat-menu-item {
  color: #ffffff;
}
::ng-deep .mat-menu-item:hover {
  color: #ffffff;
}
@media (max-width:  1024px) {
  ::ng-deep .cdk-overlay-pane {
    width: auto;
    min-width: 32%;
  }
}
@media (max-width:  1024px) {
  ::ng-deep .mat-menu-panel {
    width: 100%;
    max-width: 100%!important;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    border-radius: 4px;
    outline: 0;
    position: relative;
}
}
@media (max-width:  1024px) {
  ::ng-deep.mat-menu-item {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 40px;
    height: 62px !important;
    padding: 20px 40px !important;
    text-align: left;
    margin: 10px !important;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}
}
 /*section-background-presentation-academic*/
.section-background-presentation-academic{
  background-image: repeating-linear-gradient(to bottom, #000000, #292929,#000000);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0em 0em 0em 0em;
  position: relative;
  z-index:1 ;
}
.background-img-presentation-container{
  transition: opacity 2s;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
}
.background-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  margin: 0;
  line-height: 1;
  opacity: 20% ;
  border: none;
}
.container-academic-presentation-initial{
  min-height: 100vh;
  max-width: 100vw;
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  justify-items: start;
  flex-direction: column;
}
@media (max-width:  1024px){
  .container-academic-presentation-initial{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: start;
    flex-direction: column;
    }
}
@media (max-width:  800px){
  .container-academic-presentation-initial{
    justify-content: center;
    }
}
.column-text-academic-presentation-initial{
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (max-width:  800px){
  .column-text-academic-presentation-initial{
   flex-direction: column-reverse;
    }
}
.container-academic-text-presentation-initial{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 20px 0px 0px 10px;
  height: 100%;
  flex-direction: column;
}
@media (max-width:  800px){
.container-academic-text-presentation-initial{
  position: relative;
  top: 20px;
  text-align: center;
  }
  }
.academic-text-presentation-initial{
  width: 100%;
  height:auto;
}
.academic-text-presentation-initial-title{
  width: 100%;
  font-size: 2.3rem;
  color: white;
  line-height: 1.2;
  Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}
@media (max-width:  1024px){
  .academic-text-presentation-initial-title{
    font-size: 2.5rem;
    }
}
@media (max-width:  800px){
  .academic-text-presentation-initial-title{
    font-size: 1.5rem;
    margin: 0;
    }
}
.container-goal-academic-text-presentation-initial{
  width: 100%;
  height: 100%;
}
.academic-background-text-presentation{
  position: absolute;
  width: 100%;
  height: 85%;
  right: 10px;
  background-image: linear-gradient(51deg, #000000, #353535 100%);
  border: 12px solid;
  border-image: linear-gradient(315deg,#00aeff,#ff0059 100%) 1;
  clip-path: polygon(0% 0%, 60% 0, 100% 38%, 100% 99%, 0% 100%);
  animation: animate-mask 5s linear infinite;
  z-index: 2;
}
@keyframes animate-mask {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
@media (max-width:  1024px){
  .academic-background-text-presentation{
    width: 70vw;
    }
}
.academic-background-text-presentation-guys-mask{
  position: relative;
  float: left;
  width: 90%;
  right: 0px;
  padding: 10px 0px 10px 0px;
  height: 100%;
  z-index: 2;
}
@media (max-width:  1024px){
  .background-text-presentation-guys-mask{
    width: 70vw;
    }
}
.column-text-presentation-initial{
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: -webkit-auto;
}
.text-presentation-initial-introduction{
  width: 100%;
  font-size: 1.2rem;
  font-weight: 1000;
  font-weight: bold;
  line-height: 1.2;
  color: white;
  Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}
@media (max-width:  1024px){
  .text-presentation-initial-introduction{
    font-size: 3.5rem;
    }
}
@media (max-width:  800px){
  .text-presentation-initial-introduction{
    font-size: 2rem;
    margin: 0;
    }
}
@media (max-width:  550px){
  .text-presentation-initial-introduction{
    font-size: 1.7rem;
    margin: 0;
    }
}
 /*columun img*/
.column-goal-academic-text-presentation-initial{
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width:  1024px){
  .column-goal-academic-text-presentation-initial{
    top: 15px;
    }
}
@media (max-width:  800px){
  .column-goal-academic-text-presentation-initial{
    top: 20px;
    align-self: center;
    width: auto;
    }
}
/*Column-social-icons*/
.column-social {
  display: flex;
  min-height: 1px;
  position: relative;
  bottom: 10px;
  z-index: 100;
}
@media (max-width:  800px){
  .column-social{
    top: 2vh;
    }
}
.column-social-widget-wrap-social {
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}
.background-overlay-social {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.widget-container-column-social-icons{
  padding: 0px 0px 0px 0px;
  text-align: left;
  line-height: 1;
  font-size: 0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.grid-item-social{
  display: inline-block;
  margin-bottom: var(--grid-row-gap);
  word-break: break-word;
  border-radius: 15px;
  min-width: 0;
}
 .container-social-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1024px) {
  .container-social-icons{
    position: relative;
    display: flex;
    gap: 50px;
    flex-direction: row;
  }
}
.social-icons{
  display: flex;
  flex-direction: row;
}
.social-icons:hover{
  border-radius: 50px;
  background-image: linear-gradient(315deg,#03a9f4,#ff0058 100%);
  transition: all .9s;
}
.container-social-icons{
  list-style: none;
}
.brands {
  width: 16px;
  height: 16px;
}
@media (max-width:1024px){
  .brands {
    width: 60px;
    height: 60px;
  }
}
.container-social-icons div a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
}
.container-social-icons div a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
}
/* sections-list-of-studies-presentation */
.sections-list-of-studies-presentation{
  position: relative;
  width: 100%;
  height: auto;

  background-image: repeating-linear-gradient(to left, #131313, #272727, #131313);
  z-index:4;
}
.list-of-studies-presentation{
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 20px;
}
.texto-list-of-studies-presentation{
  display: flex;
  margin: 10px;
  color: #DBD8E3;
  font-family: 'Montserrat', Sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width:1024px){
  .texto-portfolio-presentation {
    font-size: 2rem;
  }
}
/* section-list-academic-collection*/
.section-list-academic-collection{
  display: flex;
  flex-direction: column;
  background: #000000;
  width: 100%;
  height: 100vh;
}

