<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contato</title>
</head>
<main class="main_opah">
	<div class="contact-form" fxLayout="column" fxLayoutAlign=" stretch">
		<section class="page_contato">
			<div class="content" fxLayout="column" fxLayoutAlign=" stretch">
				<h2>Contato</h2>
				<div class="row" fxLayout="row" fxLayoutAlign="space-between stretch">
					<div class="column_1" fxLayout="row" fxLayoutAlign="space-around stretch">
						<span class="line"></span>
						<h3>Vamos juntos?</h3>
						<p>Entre em contato com a gente, queremos te ouvir!</p>
						<p>Basta preencher o formulário que em breve entraremos em contato.</p>
						<div class="contato_linkedin" fxLayout="column" fxLayoutAlign=" stretch">
							<h3>Quer trabalhar conosco?</h3>
							<a href="https://www.opah.com.br/index.php/vagas/">Se inscreva para Vagas!</a> <br>
						</div>
					</div>
					<div class="column_2" fxLayout="row" fxLayoutAlign="space-around stretch">
						<div class="wpforms-container wpforms-container-full" id="wpforms-182" fxLayout="column"
							fxLayoutAlign=" stretch">
							<form id="wpforms-form-182" class="wpforms-validate wpforms-form" data-formid="182"
								method="post" enctype="multipart/form-data" action="/?page_id=11"
								novalidate="novalidate">
								<div class="wpforms-field-container" fxLayout="column" fxLayoutAlign=" stretch">
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_4-container"
										class="wpforms-field wpforms-field-select" data-field-id="4"><label
											class="wpforms-field-label" for="wpforms-182-field_4">Assunto <span
												class="wpforms-required-label">*</span></label><select
											id="wpforms-182-field_4" class="wpforms-field-large wpforms-field-required"
											name="wpforms[fields][4]" required="required">
											<option value="Comercial">Comercial</option>
											<option value="Fornecedor">Fornecedor</option>
											<option value="Parceria">Parceria</option>
											<option value="Outros">Outros</option>
										</select></div>
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_0-container"
										class="wpforms-field wpforms-field-name" data-field-id="0"><label
											class="wpforms-field-label" for="wpforms-182-field_0">Nome <span
												class="wpforms-required-label">*</span></label><input type="text"
											id="wpforms-182-field_0" class="wpforms-field-large wpforms-field-required"
											name="wpforms[fields][0]" required=""></div>
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_5-container"
										class="wpforms-field wpforms-field-text" data-field-id="5"><label
											class="wpforms-field-label" for="wpforms-182-field_5">Celular <span
												class="wpforms-required-label">*</span></label><input type="text"
											id="wpforms-182-field_5" class="wpforms-field-large wpforms-field-required"
											name="wpforms[fields][5]" required=""></div>
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_1-container"
										class="wpforms-field wpforms-field-email" data-field-id="1"><label
											class="wpforms-field-label" for="wpforms-182-field_1">E-email <span
												class="wpforms-required-label">*</span></label><input type="email"
											id="wpforms-182-field_1" class="wpforms-field-large wpforms-field-required"
											name="wpforms[fields][1]" required=""></div>
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_6-container"
										class="wpforms-field wpforms-field-text" data-field-id="6"><label
											class="wpforms-field-label" for="wpforms-182-field_6">Como chegou até
											nós?<span class="wpforms-required-label">*</span></label><input type="text"
											id="wpforms-182-field_6" class="wpforms-field-large wpforms-field-required"
											name="wpforms[fields][6]" required=""></div>
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_3-container"
										class="wpforms-field wpforms-field-text" data-field-id="3"><label
											class="wpforms-field-label" for="wpforms-182-field_3">Empresa <span
												class="wpforms-required-label">*</span></label><input type="text"
											id="wpforms-182-field_3" class="wpforms-field-large wpforms-field-required"
											name="wpforms[fields][3]" required=""></div>
									<div fxLayout="column" fxLayoutAlign=" stretch" id="wpforms-182-field_2-container"
										class="wpforms-field wpforms-field-textarea" data-field-id="2"><label
											class="wpforms-field-label" for="wpforms-182-field_2">Mensagem <span
												class="wpforms-required-label">*</span></label><textarea
											id="wpforms-182-field_2" class="wpforms-field-medium wpforms-field-required"
											name="wpforms[fields][2]" required=""></textarea></div>
								</div>
								<div fxLayout="column" fxLayoutAlign=" stretch" class="wpforms-field wpforms-field-hp">
									<label for="wpforms-182-field-hp" class="wpforms-field-label">Preenche
										corretamente/Required</label><input type="text" name="wpforms[hp]"
										id="wpforms-182-field-hp" class="wpforms-field-medium">
								</div>
								<div fxLayout="column" fxLayoutAlign=" stretch" class="wpforms-submit-container">
									<input type="hidden" name="wpforms[id]" value="182"><input type="hidden"
										name="wpforms[author]" value="1"><input type="hidden" name="wpforms[post_id]"
										value="11"><button type="submit" name="wpforms[submit]" class="wpforms-submit "
										id="wpforms-submit-182" value="wpforms-submit" aria-live="assertive"
										data-alt-text="Enviando..." data-submit-text="Enviar">ENVIAR</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>

</html>