*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif, ;

}
html{
  font-size: 62.5%;
}
/*Container list study*/
.container-list-study{
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.column-text-study-list{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.study-text-topic {
  position: relative;
  top:10px;
  color: white;
  Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
  font-size: 3rem;
  text-align: center;
  }
.study-text-topic-attention{
  color: white;
  Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
  text-align: center;
  }
.icon-faExclamationTriangle{
  color: rgb(255, 0, 0);
  width: 20px;
  height: 20px;
}
.column-list-study{
  display: flex;
  flex-direction: column;
}
.column-lst-academic-development-technologies-and-IT-infrastructure{
  width:100%;
  height: auto;
  border: 10px solid;
  border-image: linear-gradient(315deg,#00aeff,#ff0059 100%) 1;
  animation: animate-mask 5s linear infinite;
}
@keyframes animate-mask {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
.title-list{
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  font-weight: bold;
  background-image: repeating-linear-gradient(to left, #131313, #272727, #131313);
}

.mat-tree-button{
  background-color:transparent;
}
.mat-icon-rtl-mirror{
  color: rgb(255, 255, 255);
  background-color:transparent;
}
.mat-tree {
  background: rgb(38, 38, 38);

}
.mat-tree-node {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
}

